<h1>Welcome to Playlister</h1>

<h2>Sections</h2>

<ul>
  <li>
    <%= link_to "Artists", :artists %>
  </li>
  <li>
    <%= link_to "Songs", :songs %>
  </li>
  <li>
    <%= link_to "Genres", :genres %>
  </li>
</ul>
